body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D546A;
}

/* Present in all pages*/
#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    color: white;
    display: flex;
    z-index: 10;
    text-align: center;
    transition: background-color 0.3s; 
}


.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 45px;
    margin-right: 0;
}

.navbar-logo span {
    font-size: 22px;
    font-weight: bold;
}

.navbar-links {
    flex: 1;
    text-align: right;
}

.navbar-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.navbar-links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F9C30D;
    display: block;
    margin: auto;
    transition: .5s;    
}
.navbar-links li:hover::after{
    width: 100%;
}
.donate-button {
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 5px;
}

.donate-button:hover {
    background-color: #F9C30D;
    transform: scale(1.05);
}

.message-above-header {
    text-align: center;
    

}

.top {
    position: relative;
    text-align: center;
    color: black;
    padding-bottom: 20px;
}

.top img{
    width: 1263px;
}

.api-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #0D546A;
    font-family: sans-serif;
}
.api-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: 0vh; /* Ensure the counters are in the middle of the viewport */
    color: #5eb5cf;
    font-size: 20px;
    font-weight: bold;
}
.api-box {
    text-align: center;
}
.api-number {
    font-size: 3rem;
    font-weight: bold;
    color: #5eb5cf;
}

.header-text1 {
    
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 49px;
       
}

.header-text2 {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
}
/*Present in all pages */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 8px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sign-button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.sign-button[type="button"] {
    background: none;
    color: #ff7e5f;
    border: 1px solid #ff7e5f;
}

.last {
    position: relative;
    height: 70vh;
    background: url(index\ images/tree\ planting\ 2.jpg) right no-repeat, url(index\ images/tree\ planting\ 1.jpg) left no-repeat ;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 31, 53, 0.65);
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

header .centered-message {
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(35, 143, 143, 0.65);
}

header .centered-message h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header .centered-message p {
    font-size: 24px;
    margin-bottom: 20px;
}

header .centered-message button {
    background-color: #F3F5E5;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

header .centered-message button:hover {
    background-color: #F9C30D;
    transform: scale(1.05);
    text-size-adjust: 18px;
}

.message-above-ss{

    text-align: center;
    font-size: 55px;
    color: white;
    padding-top: 40px;
    font-weight: bold;
}

.message-small {
    text-align: center;
    font-size: 20px;
    color: #578998;
    padding-top: 5px;
    padding-bottom: 40px;
    font-weight: bold;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #0D546A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.cont {
    background-color: #0D546A;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
    padding-bottom: 80px;
  
}

.sec {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: rgb(98, 180, 203);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

.block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding:40px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: transform 0.3s;
    width: 150px;
    text-align: center;
    background-color: #238F8F;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.block img {
    width: 180px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.block p {
    font-size: 20px;
    color: #011F35;
    margin: 0;
    font-weight: bold;
}

.block:hover {
    transform: scale(1.18);
}


.container {

    display: flex;
    width: 92vw;
    margin-inline: 2vw;
    padding: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5vw;
    margin-bottom: 5vw;
    transition: opacity 1s ease-out;
}

.step {
    border: 2px solid transparent;
    border-radius: 90px;
    border-top-left-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 10px;
    width: 200px;
    position: relative;
    padding-top: 40px; 
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    
}

@keyframes illuminate {
    0% {
        transform: scale(1);
        background-color: inherit;
        box-shadow: none;
    }
    50% {
        transform: scale(1.15);
        background-color: #80fdfffe;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: scale(1);
        background-color: inherit;
        box-shadow: none;
    }
}

/* Class to apply when in view */
.in-view {
    opacity: 1;
}

.step.active {
    animation: illuminate 1.2s ease-out;
    
}


.header {
    position: absolute;
    top: 0;
    height: 20px;
    background-color: inherit;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}

#step1  {
    background-color: #50C5D7;
}

#step2  {
    background-color: #50C5D7;
}

#step3  {
    background-color: #50C5D7;
    
}

#step4 {
    background-color: #50C5D7;
}

#step5 {
    background-color: #50C5D7;
}

#step1 .number {
    color: #803a9b;
    border-color: #803a9b;
}

#step2 .number {
    color: #e33595;
    border-color: #e33595;
}

#step3 .number {
    color: #df7224;
    border-color: #df7224;
}

#step4 .number {
    color: #0a8b6f;
    border-color: #0a8b6f;
}

#step5 .number {
    color: #0b68b5;
    border-color: #0b68b5;
}


.content {
    text-align: center;
    padding: 10px;
}

.step-image {
    width: 100%;
    height: 120px;
    object-fit: contain;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

h3 {
    margin: 10px ;
    padding: 10px;
}


/*Footer*/
footer {
    background-color: #011F35;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
    color: #f44336;
}
#menu-btn{
    display: none;
}

#mobile-menu {
    width: 100vw;
    height: 40vh;
    z-index: 11;
    display: none;
    background-color: black; 
    color: white; 
    position: fixed; 
    top: 0;
    left: 0;
    padding-top: 50px; 
    box-sizing: border-box; 
}

#mobile-menu ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    text-align: center; 
}

#mobile-menu li {
    margin: 20px 0; 
}
#mobile-menu a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #F9C30D;
    transform: scale(1.05);
    display: block;
    margin: auto;
    transition: .5s; 
     
}
#mobile-menu a:hover::after{
    width: 100%;  
}

#mobile-menu a {
    color: white; 
    text-decoration: none; 
    font-size: 18px;
    transition: border-bottom 0.3s ease; }


#close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent; 
    color: white; 
    border: none; 
    font-size: 24px; 
    cursor: pointer; 

}
@media screen and (width<1000px) {
    .navbar-links{
        display: none;
    }
    .top img{
        width: 100%;
    }
    #menu-btn{
        display: inline;
    }
}