body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D546A;
    justify-content: center;
    align-items: center;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; 
    color: white;
    display: flex;
    z-index: 1000;
    text-align: center;
    transition: background-color 0.3s; 
}


.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 45px;
    margin-right: 0;
}

.navbar-logo span {
    font-size: 22px;
    font-weight: bold;
}

.navbar-links {
    flex: 1;
    text-align: right;
}

.navbar-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.navbar-links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F9C30D;
    display: block;
    margin: auto;
    transition: .5s;    
}
.navbar-links li:hover::after{
    width: 100%;
}
.donate-button {
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 5px;
}

.donate-button:hover {
    background-color: #F9C30D;
    transform: scale(1.05);
}

#menu-btn{
    display: none;
}

#mobile-menu{
    width: 100vw;
    height: 100vh;
    z-index: 11;
    display: none;
}

@media screen and (width<1000px) {
    .navbar-links{
        display: none;
    }
    .top img{
        width: 100%;
    }
    #menu-btn{
        display: inline;
    }
}

.top {
    position: relative;
    text-align: center;
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
}

.message-above-header {
    text-align: center;
    

}

.underline{
    text-align: center;
    padding: 0;
    margin: 0;
}
.underline-animation {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 60px;
    color: white;
}
.underline-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: #F9C30D;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 1s ease-out;
}
.underline-animation.show-underline::after {
    transform: scaleX(1);
}

.profile-body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    box-sizing: border-box;
    background-color: #0D546A;
}

.profile-container {
    padding: 0;
    margin: 0;
    background-color: #b9e9fc;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    width: 900px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-icons {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    width: 100%;
    padding: 10px 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 20px;
}

.top-icons a {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 5px;
    background-color: #033049;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.top-icons a.selected {
    background-color: #055b7a;
    font-weight: bold;
}

.top-icons a:hover {
    background-color: #044a64;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

.block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: transform 0.3s;
    width: 150px;
    text-align: center;
    background-color: #69C3A3;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}

.block:hover {
    transform: scale(1.18);
}

.profile-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.profile-container .profile-info {
    padding-left: 20px;
}

.profile-container .save-button {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

@media (max-width: 1000px) {
    .profile-container {
        width: 100%;
    }

    .block-container {
        justify-content: center;
    }

    .block {
        width: 100%;
        max-width: 300px;
    }
}

        /* Ensure these styles are defined in your main CSS file or within a <style> tag in your HTML head */
.s-body {
    font-family: sans-serif;
    background-color: #0D546A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center; /* Center text inside the body */
}

.selected-body {
    width: 90%;
    max-width: 800px;
    background-color: #69C3A3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    margin: auto; 
    margin-bottom: 60px;
    margin-top: 60px;
}

.selected-exercises h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #0D546A;
}

.exercise-item {
    display: flex;
    justify-content: center; /* Center the content of exercise-item */
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.exercise-item p {
    margin: 0;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.no-exercise {
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
}


        /*Footer*/
footer {
    background-color: #011F35;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
    color: #f44336;
}